/JavaProject5/nbproject/private/
/JavaProject5/build/
/F1_Exercicio_1/nbproject/private/
/F1_Exercicio_1/build/
/Exercicios_Concluidos/New Folder/Ficha_1_Conceitos_Basicos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_1_Conceitos_Basicos/build/
/Exercicios_Concluidos/New Folder/Ficha_2_Input_Utilizador/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_2_Input_Utilizador/build/
/Exercicios_Concluidos/New Folder/nbproject/private/
/Exercicios_Concluidos/New Folder/build/
/Exercicios_Concluidos/New Folder/Ficha_4_Ciclos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_4_Ciclos/build/
/Exercicios_Concluidos/New Folder/Ficha_5_Strings/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_5_Strings/build/
/Exercicios_Concluidos/New Folder/Ficha_6_Arrays/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_6_Arrays/build/
/Exercicios_Concluidos/New Folder/Ficha_7_Metodos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_7_Metodos/build/
/Exercicios_Concluidos/New Folder/Projeto_1/nbproject/private/
/Exercicios_Concluidos/New Folder/Projeto_1/build/
/Projecto_Java_Sergio_Ricardo/Projeto_1/build/
/Projecto_Java_Sergio_Ricardo/Projeto_1/nbproject/private/
/Importante/Escolas/build/
/Importante/Escolas/nbproject/private/
/ProjetoRS/nbproject/private/
/ProjetoRS/build/
/ligBD/nbproject/private/
/ligBD/build/
/Importante/lib_bd/nbproject/private/
/Importante/lib_bd/build/
/Importante/JavaApplication9/nbproject/private/
/Importante/JavaApplication9/build/
/Importante/ligacao_Bd/nbproject/private/
/Importante/ligacao_Bd/build/
/Importante/Conn/nbproject/private/
/Importante/Conn/build/
/Importante/JavaApplication12/nbproject/private/
/Importante/JavaApplication13/nbproject/private/
/Importante/DB/nbproject/private/
/Importante/javaSwing/nbproject/private/
/Importante/javaSwing/build/
/Importante/Swing/nbproject/private/
/Importante/Swing/build/
/Importante/SwingJava/nbproject/private/
/Importante/SwingJava/build/
/Importante/antonio/nbproject/private/
/Importante/antonio/build/
/JavaApplication21/
/EscolaSwing/nbproject/private/
/EscolaSwing/build/
/Projecto_Swing_Livraria/nbproject/private/
/Projecto_Swing_Livraria/build/
